.Headers {
  width: 100%;
  display: flex;

  box-shadow: 0px 4px 6px -6px rgba(0, 0, 0, 0.25);

  padding: 0 10px;
  gap: 20px;
}
/*  */
.Headers > div {
  width: 100%;
  max-width: 1000px;
  min-width: 320px;
  height: auto;
  max-height: 140px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  padding: 20px 0;
  gap: 10px;
}

.Headers > div > div {
  min-width: 220px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
  margin: 0 auto;
}

.logo {
  width: 160px;
  height: 37px;
  /* border: 1px solid gray; */
}

/* mobile media */

@media screen and (min-width: 769px) and (max-width: 4044px) {
  .Headers > div > div {
    margin: 0 30px;
  }
  .Headers > div {
    justify-content: space-between;
  }
}
